* {
    margin: .1rem;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: white;
}

header {
    border-bottom: 1px solid white;
    padding: 10px 5px;
    text-align: center;
    background: blue;
    color: white;
}

p {
    text-align: center;
    padding-bottom: 8px;
}

h1 {
    transition: all 0.5s ease;
}

h1:hover {
    cursor: default;
    color: yellow;
}

.input_area {
    margin: 3px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
    padding-left: 5px;
}

.form_area input:focus {
  border-color: black;
}

form {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

form button {
    margin-top: 5px;
    cursor: pointer;
    padding: 4px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
}

button:hover {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-bottom-width: 2px;
}